body{
	display:flex;
	justify-content: center;
	align-items:center;
	height:80vh;
	background-color:lightblue;
}
.the_app{
	background-color:white;
	min-width:700px;
	padding:20px;
	border:1px solid lightgrey;
	border-radius:3px;
	box-shadow: 2px 2px 1px grey;
}
.todoform{
	margin-bottom:20px;
}
.todoform button{
	margin-bottom:3px;
}
.todo button{
	padding:0 6px 0 6px;
	color:white;
	margin:2px;
}
.todoform button{
	padding:2px 6px 2px 6px;
}
.todo{
	display:flex;
	justify-content: space-between
}
.flex-container{
	display:flex;
	align-items: baseline;
}
.the_input{
	min-width:600px;
	margin:5px;
}
p{
	margin-left:3px;
}
@media only screen and (max-width: 600px) {
	.the_app{
		min-width:90vw;
	}
	.the_input{
		min-width:60vw;
	}
  }